.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white; /* White form background */
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for contrast */
}

.form h2 {
  text-align: center;
  color: var(--background); /* Dynamically adjust text color */
  margin-bottom: 20px;
  font-size: x-large;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.error{
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}


.button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
}

.signupOption {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.signupOption p {
  margin: 0;
}

.signupOption button {
  background: none;
  border: none;
  color: #0070f3;
  cursor: pointer;
  text-decoration: underline;
}
