.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white; /* White form background */
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow for contrast */
}

.form h2 {
  text-align: center;
  color: var(--background); /* Dynamic color based on theme */
  margin-bottom: 20px;
  font-size: x-large;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #005bb5;
}
